.telaLogin{flex-direction: column;}
.inputsLogin{width: 350px;}
.botaoLogin{width: 350px; background-color: rgb(4, 121, 121);}
.botaoLogin:hover {background-color: rgb(4, 88, 88);}

.cadastroBtn{text-decoration: none; font-weight: 500; color: rgb(4, 121, 121) ;}
.cadastroBtn:hover {color: rgb(4, 88, 88);}