.inputsHabilidade{width: 500px;} 

.btnHabilidade{width: 500px;background-color: rgb(4, 121, 121); font-weight: 400; color: #fff;}
.btnHabilidade:hover {background-color: rgb(4, 88, 88); color: #fff; font-weight: 500;}
