.card{border: 2px solid rgb(4, 88, 88);;background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; margin-top: 20px; flex-direction: column; width: 265px; height: 360px; border-radius: 15px;}
.card:hover{background-color:  rgb(216, 216, 216);}

.card .btn{margin-bottom: 10px; width: 200px; background-color:  rgb(4, 121, 121); color: rgb(255, 255, 255);}
.card .btn:hover{background-color: rgb(4, 88, 88);}

.card img{ width: 220px; height: 220px; margin-top: 10px; border-radius: 15px;}